{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                <a class="btn" href="{{ path('add_job') }}">Add job</a>
                <a class="btn" href="{{ path('add_job_scheduled') }}">Add scheduled job</a>
            </div>
            <table>
                <tr>
                    <th></th>
                    <th>Job</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Processing time</th>
                    <th>Created</th>
                    <th>Log</th>
                </tr>
                {% for job in jobs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ job.ticket }}</td>
                        <td>{{ job.status }}</td>
                        <td>{{ job.type }}</td>
                        <td>{{ job.processingTime }}</td>
                        <td>{{ job.createdAt|date("d-m-Y H:i:s") }}</td>
                        <td><a class="btn" href="{{ path('get_job_log',{ 'ticket': job.ticket}) }}">Log</a></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 1600px; width: 95%; }
    #container { padding: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 5px;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    tr:hover {background-color: #f5f5f5}
    tr:nth-child(even) {background-color: #f2f2f2}

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
